// Font Sizes
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

// Media Screen Sizes
$sm: "(min-width: 640px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 1024px)";
$xl: "(min-width: 1280px)";

// Color Scheme
$primary-color: #123d67;
$primary-accent-color: #3498db;
$secondary-color: #874000;
$secondary-accent-color: #bc6f03;
$grey-color: #a6acaf;
$grey-accent-color: #ecf0f1;
$black-color: #17202a;
$white-color: #fdfefe;
$danger-color: #b03a2e;
$danger-accent-color: #78281f;
$info-color: #f4d03f;
$info-accent-color: #d4ac0d;
$confirm-color: #1e8449;
$confirm-accent-color: #145a32;
