.search {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 10px;
  border: 1px solid $grey-color;
  border-radius: 24px;
  background: $grey-accent-color;
  padding: 5px 10px;
  @media #{$md} {
    width: 200px;
  }
  @media #{$lg} {
    width: 280px;
  }
  span {
    line-height: 1px;
  }
  input {
    border: none;
    outline: none;
    background: $grey-accent-color;
  }
}
